Sales_Automation_1.json
{
  "name": "Sales Automation 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1216,
        320
      ],
      "id": "85251592-83ed-4a9d-b05f-c0f507cfac8d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Craft a search query for the tavily tool and use the company name to search the domain of the company.\n\ncompany name:{{ $json[\"Company Name\"] }}\n\n\nOutput:\n- Company Name: [from LinkedIn]\n- Domain: [clean domain only]\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -816,
        320
      ],
      "id": "8c9e1895-072a-410c-b795-3dda40cf8d15",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -880,
        544
      ],
      "id": "2de2866c-75bc-439c-aa06-e5f6fb8c7c86",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"company_name\": \"\",\n\t\"domain\": \"\"\n     \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -624,
        544
      ],
      "id": "ddd808d7-9b64-4884-b1d8-dc49df1738bd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `search the web for the company domain using the company name. for example \" search the company domain for this company\"`, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -752,
        544
      ],
      "id": "7a3dd3d7-e6db-4ae4-b9f8-383d1fc8262b",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node — Build Apollo Mixed People Search POST body\n// Target: Hiring Managers, Recruiters, Talent Acquisition\n// Updated to work with domain field in output object\n\n// 1) Inputs\nconst items = $input.all();\n\n// 2) Input validation\nif (!items || items.length === 0) {\n  return [{ json: { error: 'No input items received' } }];\n}\n\n// 3) Extract and clean domains from output.domain field\nconst allDomains = Array.from(new Set(\n  items\n    .map(item => {\n      // Access domain from nested output object\n      const domain = String(item.json?.output?.domain || '').trim().toLowerCase();\n      \n      if (!domain) return '';\n      \n      // Clean domain - remove protocol, www, paths\n      let cleanDomain = domain\n        .replace(/^https?:\\/\\//i, '')  // Remove protocol\n        .replace(/^www\\./, '')          // Remove www.\n        .split('/')[0]                  // Get domain only (remove paths)\n        .split('?')[0]                  // Remove query params\n        .split('#')[0]                  // Remove anchors\n        .trim();\n      \n      return cleanDomain;\n    })\n    .filter(d => {\n      // Filter out empty strings and invalid domains\n      if (!d) return false;\n      \n      // Must have at least one dot and valid domain structure\n      const domainRegex = /^[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?(\\.[a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?)*\\.[a-z]{2,}$/i;\n      return domainRegex.test(d);\n    })\n));\n\n// 4) Filter out unwanted domains (like linkedin.com from job postings)\nconst excludedDomains = ['linkedin.com', 'indeed.com', 'glassdoor.com', 'monster.com'];\nconst validDomains = allDomains.filter(d => !excludedDomains.includes(d));\n\n// 5) Guard clause\nif (validDomains.length === 0) {\n  return [{ \n    json: { \n      error: 'No valid domains found',\n      totalProcessed: items.length,\n      domainsExtracted: allDomains.length,\n      domainsExcluded: allDomains.length - validDomains.length\n    } \n  }];\n}\n\n// 6) Hiring & Recruiting Titles\nconst titles = [\n  // Talent Acquisition Leadership\n  'VP of Talent Acquisition',\n  'Vice President Talent Acquisition',\n  'VP Talent Acquisition',\n  'Director of Talent Acquisition',\n  'Talent Acquisition Director',\n  'Head of Talent Acquisition',\n  'Head of Recruiting',\n  \n  // Recruiting Leadership\n  'VP of Recruiting',\n  'Vice President Recruiting',\n  'Director of Recruiting',\n  'Recruiting Director',\n  'Director of Recruitment',\n  'Recruitment Director',\n  \n  // HR Leadership (often involved in hiring)\n  'VP of Human Resources',\n  'VP Human Resources',\n  'Director of Human Resources',\n  'HR Director',\n  'Head of HR',\n  'Head of People',\n  'Director of People',\n  'People Director',\n  \n  // Chief Level\n  'Chief Human Resources Officer',\n  'CHRO',\n  'Chief People Officer',\n  'CPO',\n  'Chief Talent Officer',\n  \n  // Senior Recruiters\n  'Senior Recruiter',\n  'Lead Recruiter',\n  'Senior Talent Acquisition Partner',\n  'Principal Recruiter',\n  'Recruiting Manager',\n  'Talent Acquisition Manager',\n  'Talent Acquisition Lead',\n  \n  // Hiring Manager Titles\n  'Hiring Manager',\n  'Technical Recruiter',\n  'Technical Recruiting Manager'\n];\n\n// 7) Build POST body for mixed_people/search\nconst body = {\n  person_titles: titles,\n  person_current_titles: titles,\n  q_organization_domains_list: validDomains,\n  page: 1,\n  per_page: 10\n};\n\n// 8) Output for HTTP Request node with enhanced metadata\nreturn [{\n  json: {\n    url: 'https://api.apollo.io/api/v1/mixed_people/search',\n    method: 'POST',\n    body,\n    // Metadata for debugging\n    metadata: {\n      totalInputItems: items.length,\n      domainsExtracted: allDomains.length,\n      domainsExcluded: allDomains.length - validDomains.length,\n      domainsUsed: validDomains.length,\n      excludedDomainsList: allDomains.filter(d => excludedDomains.includes(d)),\n      targetTitles: titles.length,\n      targetCategory: 'Hiring Managers, Recruiters & Talent Acquisition'\n    },\n    // Full lists for verification\n    processedDomains: validDomains,\n    allExtractedDomains: allDomains,\n    targetTitles: titles\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        304
      ],
      "id": "1fb1f19d-c1f5-4378-a298-a629902804d1",
      "name": "Code4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f77aca26-85e8-4ecb-b7d9-d28feb649678",
              "name": "people",
              "value": "={{ $json.people }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        304
      ],
      "id": "17db6c3c-fa65-4068-9d3d-5bc074e962e0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node to extract specific fields from people data\nconst cleanedData = [];\n\n// Process each item from the input\nfor (const inputItem of $input.all()) {\n  const peopleData = inputItem.json.people;\n  \n  // Check if people data exists and is a string (JSON)\n  if (peopleData && typeof peopleData === 'string') {\n    try {\n      const parsedPeople = JSON.parse(peopleData);\n      \n      // Process each person in the array\n      parsedPeople.forEach(person => {\n        // Extract only the specified fields\n        const cleanedPerson = {\n          id: person.id || null,\n          name: person.name || null,\n          first_name: person.first_name || null,\n          last_name: person.last_name || null,\n          title: person.title || null,\n          linkedin_url: person.linkedin_url || null,\n          company_name: person.organization?.name || null,\n          company_linkedin: person.organization?.linkedin_url || null,\n          company_website: person.organization?.website_url || null\n        };\n        \n        cleanedData.push(cleanedPerson);\n      });\n      \n    } catch (error) {\n      console.error('Error parsing people data:', error);\n    }\n  }\n}\n\n// Return the cleaned data\nreturn cleanedData.map(person => ({ json: person }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        304
      ],
      "id": "8ac29150-3436-4fbf-8759-b351684344b4",
      "name": "data cleaning1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        304
      ],
      "id": "ee7694b7-33f3-4467-91f7-58b4463d6eab",
      "name": "Apollo People Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FhWkoRI7QaV9H3-O18osrCndBlC64c8yZfNhLuSan8E",
          "mode": "list",
          "cachedResultName": "Testing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<REDACTED_SHEET_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1668816233,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<REDACTED_SHEET_ID>/edit#gid=1668816233"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_linkedin_url",
              "displayName": "company_linkedin_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        304
      ],
      "id": "92417ec6-4eab-4666-b513-6d4ed7a28b30",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "reveal_personal_emails",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        304
      ],
      "id": "9e33b669-736f-40cf-b00a-14a0956bb61d",
      "name": "People Enrich",
      "credentials": {
        "httpHeaderAuth": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get input data\nconst items = $input.all();\n\n// Process each item\nconst cleanedData = items.map(item => {\n  const person = item.json.person;\n  const organization = person.organization;\n  \n  return {\n    json: {\n      id: person.id || null,\n      first_name: person.first_name || null,\n      last_name: person.last_name || null,\n      full_name: person.name || null,\n      linkedin_url: person.linkedin_url || null,\n      email: person.email || null,\n      email_status: person.email_status || null,\n      title: person.title || null,\n      company_name: organization?.name || null,\n      company_website: organization?.website_url || null,\n      company_domain: organization?.primary_domain || null,\n      company_linkedin_url: organization?.linkedin_url || null\n    }\n  };\n});\n\nreturn cleanedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        304
      ],
      "id": "1dfecfeb-db35-43e6-abe0-9675ebdf3d1f",
      "name": "Data Cleaning 2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FhWkoRI7QaV9H3-O18osrCndBlC64c8yZfNhLuSan8E",
          "mode": "list",
          "cachedResultName": "Testing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<REDACTED_SHEET_ID>/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/<REDACTED_SHEET_ID>/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1008,
        320
      ],
      "id": "229b200d-64c7-4237-a232-d10562e4731e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "<REDACTED_CREDENTIAL_ID>", "name": "<REDACTED_CREDENTIAL_NAME>"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "46a60932-73d0-4660-986c-3a0ca5afd293",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa50f39d-a8e4-4460-bcbe-e5e39f7d3a91",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        304
      ],
      "id": "f860d1d6-5a17-4c09-aeb6-91110df1ae6c",
      "name": "If"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Apollo People Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "data cleaning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data cleaning1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo People Search": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "People Enrich": {
      "main": [
        [
          {
            "node": "Data Cleaning 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning 2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "People Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}